<div class="container" id="team">
  <div class="row">

    <!-- Title with the team's name -->
    <h1 class="title text-center"><%= @team.name %></a> </h1>
    
    <!-- Show the date/time that the deploy was deployed -->
    <h4 class="text-center">
      <%= @team.description %>
    </h4>

    <!-- Show all of the stats about the team -->
    <%= render 'hubstats/partials/quick_stats' %>
  </div>

  <div class="row">

    <!-- Show all of this team's merged pull requests in a "condensed" view -->
    <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
      <h3> Pull Requests</h3> 
      <%= render 'hubstats/tables/pulls-condensed' %>
      <% if @pull_count > 20 %>
        <p class="pull-right"><%= link_to "View All", pulls_path(:teams => @team.id) %></p>
      <% end %>
    </div>

    <!-- Show all of this team's users in a "condensed" view -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3> Users </h3>
      <%= render 'hubstats/tables/users-condensed' %>
    </div>
  </div>
</div>
