<div class="container" id="team">
  <div class="row">

    <!-- Title with the team's name -->
    <h1 class="title text-center"><%= @team.name %></a> </h1>

    <!-- Show all of the stats about the team -->
    <%= render 'hubstats/partials/quick_stats_one' %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render 'hubstats/partials/quick_stats_two' %>
  </div>

  <div class="row">

    <!-- Show all of this team's merged pull requests in a "condensed" view -->
    <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
      <h3> Merged Pull Requests</h3> 
      <%= render 'hubstats/tables/pulls_condensed' %>
      <% if @pull_count > 20 %>
        <p class="pull-right"><%= link_to "View All", pulls_path(:teams => @team.id) %></p>
      <% end %>
    </div>

    <!-- Show all of this team's users in a "condensed" view -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3> Active Users </h3>
      <%= render 'hubstats/tables/users_condensed' %>
      <% if @active_user_count > 20 %>
        <p class="pull-right">Hubstats is currently not set up to view all active users for this team</p>
      <% end %>
    </div>
  </div>
</div>
