<!DOCTYPE html>
<html>
<head>
  <title>Hubstats</title>
  <%= stylesheet_link_tag    "hubstats/application", :media => "all" %>
  <%= javascript_include_tag "hubstats/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'hubstats/partials/header' %>
<%= yield %>

</body>
</html>

<!--must add deploys page in somewhere to make the tab show up-->
