<!-- Show the header, format the entire page, and show all other pages below header -->
<!DOCTYPE html>
<html>
<head>
  <title>Hubstats</title>
  <%= stylesheet_link_tag    "hubstats/application", :media => "all" %>
  <%= javascript_include_tag "hubstats/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'hubstats/partials/header' %>
  <%= yield %>
  <%= render 'hubstats/partials/footer' %>
</body>
</html>
