<div class="container" id="splash">
  <div class="row text-center">
    <%= render 'hubstats/metrics/quick_stats' %>
  </div>
  <div class="row">

    <div class="col col-lg-6">
      <h3> Active Repositories </h3>       
      <%= render partial: 'hubstats/partials/repo', collection: @repos, as: :repo %>
      <% if @repo_count > 20 %>
        <p class="pull-right"><%= link_to "View All", repos_path %></p>
      <% end %>
    </div>

    <div class="col col-lg-6">
      <h3> Active Users </h3>
      <%= render partial: 'hubstats/partials/user-condensed', collection: @users, as: :user %>
      <% if @user_count > 20 %>
        <p class="pull-right"><%= link_to "View All", users_path %></p>
      <% end %>
    </div>
    
  </div>
</div>