<div class="container" id="splash">
  <div class="row text-center">
    <%= render 'hubstats/partials/quick_stats' %>
  </div>
  
  <div class="row">
    <div class="col col-lg-12">
      <h3> All Repositories </h3>       
      <%= render "hubstats/tables/repos" %>
<!--      <% if @repo_count > 20 %>
        <p class="pull-right"><%= link_to "View All", repos_path %></p>
      <% end %>-->
    </div>

  <!--  <div class="col col-lg-6">
      <h3> Active Users </h3>
      <%= render "hubstats/tables/users-condensed" %>
      <% if @user_count > 20 %>
        <p class="pull-right"><%= link_to "View All", users_path %></p>
      <% end %>
    </div> -->
    
  </div>
</div>
