<div class="container" id="repo">
  <div class="row">

    <!-- Title with the repo name -->
    <h1 class="title text-center"><a href=<%=@repo.html_url%>> <%= @repo.name.titleize %> </a></h1>

    <!-- Show all of the stats about the repository -->
    <%= render 'hubstats/partials/quick_stats' %>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render 'hubstats/partials/quick_addition_stats' %>
  </div>

  <div class="row">

    <!-- Show all of the merged pull requests in a "condensed" view -->
    <div class="col col-lg-6">
      <h3> Pull Requests</h3>
      <%= render 'hubstats/tables/pulls-condensed'%>
      <% if @pull_count > 20 %>
        <p class="pull-right"><%= link_to "View All", pulls_path(:repos => @repo.id) %></p>
      <% end %>
    </div>

    <!-- Show all of the deploys in a "condensed" view -->
    <div class="col col-lg-6">
      <h3> Deployments </h3>
      <%= render "hubstats/tables/deploys-condensed" %>
      <% if @deploy_count > 20 %>
        <p class="pull-right"><%= link_to "View All", deploys_path(:repos => @repo.id) %></p>
      <% end %>
    </div>
  </div>
</div>
