<div class="container" id="repo">
  <div class="row">

    <!-- Title with the repo name -->
    <h1 class="title text-center"><a href=<%=@repo.html_url%>> <%= @repo.name.titleize %> </a></h1>

    <!-- Show all of the stats about the repository -->
    <%= render 'hubstats/partials/quick_stats_one' %>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render 'hubstats/partials/quick_stats_two' %>
  </div>

  <div class="row">

    <!-- Show all of the merged pull requests in a "condensed" view -->
    <div class="col col-lg-6">
      <h3> Merged Pull Requests</h3>
      <%= render 'hubstats/tables/pulls_condensed'%>
      <% if @pull_count > 50 %>
        <p class="pull-right"><%= link_to "View All", pulls_path(:repos => @repo.id) %></p>
      <% end %>
    </div>

    <!-- Show all of the active users that contribute to this repo users in a "condensed" view -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3> Active Users </h3>
      <%= render 'hubstats/tables/users_condensed' %>
      <% if @active_user_count > 50 %>
        <p class="pull-right">Hubstats is currently not set up to view all active users for this repository</p>
      <% end %>
    </div>
  </div>
</div>
