<div class="row single-comment">

  <!-- Show the avatar of the user who made the PR -->
  <div class="user-image-small col-lg-1 col-md-1 col-sm-2 col-xs-2">
    <img src= <%= comment.user.avatar_url%> alt= <%= comment.user.login %> >
  </div>

  <!-- Show the comment, who it was by, and when it was made -->
  <div class="comment-info col-lg-10 col-md-10 col-sm-8 col-xs-8">
    <%= link_to comment.user.login, user_path(comment.user) %> commented
    <%= "#{time_ago_in_words(comment.created_at)} ago "%> <br>
    <div class="well">
      <%= comment.body %>
    </div>
  </div>

  <!-- Show the github octcat sign with a link to the comment on github -->
 <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    <div class="pull-right">
      <a class="subtle" href=<%= comment.html_url %> > 
        <span class="octicon octicon-mark-github"></span>
      </a>
      </span>
    </div>
  </div>
</div>
