<div class="row single-comment">
  <div class="user-image col-lg-1 col-md-1 col-sm-1">
    <img src= <%= comment.user.avatar_url%> alt= <%= comment.user.login %> >
  </div>

  <div class="comment-info col-lg-10 col-md-10 col-sm-10">
    <%= link_to comment.user.login, user_path(comment.user) %> commented
    <%= "#{time_ago_in_words(comment.created_at)} ago "%> <br>
    <div class="well">
      <%= comment.body %>
    </div>
  </div>

 <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
    <div class="pull-right">
      <a class="subtle" href=<%= comment.html_url %> > 
        <span class="octicon octicon-mark-github"></span>
      </a>
      </span>
    </div>
  </div>
</div>
