<div class="row single-deploy">

  <div class="user-image col-lg-1 col-md-1 col-sm-1" >
    <img src= <%= deploy.deployed_by %> alt= <%= deploy.deployed_by%> >
  </div>

  <div class="deploy-info col-lg-6 col-md-7 col-sm-6">
    <h4> 
      <%= link_to deploy.repo.name, repo_path(deploy.repo.name) %> /
      <%= link_to deploy.git_revision, repo_path(deploy.repo.name) %>
    </h4>
    <br> <!--should route to the user/id path-->
    by <%= link_to deploy.deployed_by, user_path(deploy.deployed_by) %>
    <%= "#{time_ago_in_words(deploy.deployed_at)} ago "%>
    <br>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="deploy-right">
      <% deploy.pull_requests.each_with_index do |pull_request, index| %>
        <% if index == deploy.pull_requests.size - 1 %>
          <%= link_to pull_request.number.to_s, pull_request.html_url %>
          <span class="octicon octicon-mark-github"></span>
        <% else %>
          <%= link_to pull_request.number.to_s, pull_request.html_url %>,
        <% end %>
      <% end %>
    </div>
  </div>
</div>
