<div class="row single-deploy">

<!--  <div class="user-image col-lg-1 col-md-1 col-sm-1" >
    <img src= <%= deploy.deployed_by%> alt= <%= deploy.deployed_by%> >
  </div>-->

  <div class="deploy-info col-lg-9 col-md-9 col-sm-9">
    <h4> 
      <%= link_to deploy.repo.name, repo_path(deploy.repo.name) %> /
      <%= link_to deploy.git_revision, repo_path(deploy.repo.name) %>
    </h4>
    <br> <!--should route to the user/id path-->
    by <%= link_to deploy.user.login, user_path(deploy.user) %>
    <%= "#{time_ago_in_words(deploy.deployed_at)} ago "%>
  </div>

  <div class="col-lg-2 col-md-2 col-sm-2" >
    <div class="deploy-right">
      <a class="subtle"
        <span class="octicon octicon-mark-github"></span>
      </a>
    </div>
  </div>
</div>
