<div class="row single-deploy">
  <div class="user-image-small col-lg-1 col-md-1 col-sm-1 col-xs-2" >
    <% if deploy.user != nil %>
      <img src= <%= deploy.user.avatar_url%> alt= <%= deploy.user.login %> >
    <% end %>
  </div>
  
  <!-- Show the repo name, git revision, and who deployed it when -->
  <div class="deploy-info col-lg-6 col-md-6 col-sm-6 col-xs-5">
    <h4>
      <%= link_to deploy.repo.name, repo_path(deploy.repo.name) %> /
      <%= link_to deploy.git_revision, deploy_path(deploy) %> 
    </h4>
    by 
    <% if deploy.user != nil %>
      <%= link_to deploy.user.login, user_path(deploy.user) %>
    <% else %>
      unknown
    <% end %>
    <%= "#{time_ago_in_words(deploy.deployed_at)} ago "%>
  </div>

  <!-- Show a list of links with all the pull requests in the deploy -->
  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="deploy-right">
      <% deploy.pull_requests.each_with_index do |pull_request, index| %>
        <% if index == deploy.pull_requests.size - 1 %>
          <%= link_to pull_request.number.to_s, pull_request.html_url %>
          <span class="octicon octicon-mark-github"></span>
        <% else %>
          <%= link_to pull_request.number.to_s, pull_request.html_url %>,
        <% end %>
      <% end %>
    </div>
  </div>
</div>
