<div class="row single-deploy">
  
  <div class="deploy-info col-lg-9 col-md-9 col-sm-9 col-xs-8">
    <h4>
      <%= deploy.git_revision %> 
    </h4>
    by <%= link_to deploy.deployed_by, user_path(deploy.deployed_by) %>
    <%= "#{time_ago_in_words(deploy.deployed_at)} ago "%>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="deploy-right">
      <% deploy.pull_requests.each_with_index do |pull_request, index| %>
        <% if index == deploy.pull_requests.size - 1 %>
          <%= link_to pull_request.number.to_s, pull_request.html_url %>
          <span class="octicon octicon-mark-github"></span>
        <% else %>
          <%= link_to pull_request.number.to_s, pull_request.html_url %>,
        <% end %>
      <% end %>
    </div>
  </div>
</div>
