<div class="container" id="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Hubstats", root_path, {:data => {:repo_path => repos_path(), :user_path => users_path()}, :class => "navbar-brand title", :id =>"brand"} %>
      </div>

      <input type="text" class='datepicker' id="start">
      <script type="text/javascript">
        $(document).ready(function(){
          $('.datepicker').datepicker();
        });
      </script>
      to
      <input type="text" class='datepicker' id="end">
      <script type="text/javascript">
        $(document).ready(function(){
          $('.datepicker').datepicker();
        });
      </script>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="<%='navbar-active' if params[:controller] == 'hubstats/deploys'%>">
              <%= link_to "Deployments", deploys_path%></li>
          <li class="<%='navbar-active' if params[:controller] == 'hubstats/repos'%>">
              <%= link_to "Metrics", metrics_path%></li>
          <li class="<%='navbar-active' if params[:controller] == 'hubstats/pull_requests'%>">
              <%= link_to "Pull Requests", root_path%></li>
          <li class="<%='navbar-active' if params[:controller] == 'hubstats/users'%>">
              <%= link_to "Users", users_path%></li>
          <li>
            <select class="form-control push-down" id="time-select">
              <% Hubstats::TIMESPAN_ARRAY.each do |timespan| %>
                <option value=<%= timespan[:date] %>><%=timespan[:display_value]%></option>
              <% end %>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
