<div class="container" id="header">
  <div class="pull-left">
  <div class="title"> <%= link_to "Hubstats: Github Metrics", root_path %> </div>
  
  </div>
  <div class="pull-right">
    <select class="form-control" id="time-select">
      <option value=<%= Date.today %>>Today</option>
      <option value=<%= 1.week.ago.to_date %>>One Week</option>
      <option value=<%= 2.week.ago.to_date %>>Two Weeks</option>
      <option value=<%= 1.month.ago.to_date %>>One Month</option>
      <option value=<%= 3.month.ago.to_date %>>Three Months</option>
      <option value=<%= 10.years.ago.to_date %>>Beginning of Time</option>
    </select>
  </div>
</div>