<div class="container" id="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Hubstats", root_path, {:data => {:repo_path => repos_path(), :user_path => users_path()}, :class => "navbar-brand title", :id =>"brand"} %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="<%='navbar-active' if params[:controller] == 'hubstats/deploys'%>">
            <%= link_to "Deployments", deploys_path%></li>
          <li class="<%='navbar-active' if params[:controller] == 'hubstats/repos'%>">
            <%= link_to "Metrics", metrics_path%></li>
          <li class="<%='navbar-active' if params[:controller] == 'hubstats/pull_requests'%>">
            <%= link_to "Pull Requests", root_path%></li>
          <li class="<%='navbar-active' if params[:controller] == 'hubstats/users'%>">
            <%= link_to "Users", users_path%></li>
          <li style="width: 245px">
            <div class="input-daterange input-group" id="datepicker">
              <input type="text" class="input-small form-control" data-behavior="datepicker" name="start" placeholder="Start Date"/>
              <span class="input-group-addon">to</span>
              <input type="text" class="input-small form-control" data-behavior="datepicker" name="end" placeholder="End Date"/>
            </div>
          </li>
          <li>
            <button style="float: right" type="button" class="btn btn-default" id="submitDateRange">Apply</button>
          </li>
        </ul>
      </div>
      Current Start Date: <%=@start_date%>
      Current End Date: <%=@end_date%>
    </div>
  </nav>
</div>
