<div class="row single-pull">
  <div class="user-image-small col-lg-1 col-md-1 col-sm-1 col-xs-2" >
    <img src= <%= pull.user.avatar_url%> alt= <%= pull.user.login %> >
  </div>

  <!-- Show the repo name and the specific pull request name and who made it when -->
  <div class="pull-info col-lg-9 col-md-9 col-sm-9 col-xs-8">
    <h4> 
      <%= link_to pull.repo.name, repo_path(pull.repo.name) %> /
      <%= link_to pull.title, pull.html_url, :target => '_blank' %>
    </h4>
    by <%= link_to pull.user.login, user_path(pull.user) %>
    <% if pull.merged == '1'%>
      <%= "merged #{time_ago_in_words(pull.merged_at)} ago "%>
    <% elsif pull.state == 'closed' %>
      <%= "closed #{time_ago_in_words(pull.closed_at)} ago "%>
    <% else %> 
      <%= "opened #{time_ago_in_words(pull.created_at)} ago "%>
    <% end %>
  </div>

  <!-- Show the pull request number and a link to the github PR -->
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
    <div class="pull-right">
      <%= pull.number %>
      <span class="octicon octicon-mark-github"></span>
      </span>
    </div>
  </div>
</div>
