<div class="row single-pull">
  <div class="user-image col-lg-1 col-md-1 col-sm-1" >
    <img src= <%= pull.user.avatar_url%> alt= <%= pull.user.login %> >
  </div>

  <div class="pull-info col-lg-9 col-md-9 col-sm-9">
    <h4> 
      <%= link_to pull.repo.name, repo_path(pull.repo.name) %> / 
      <%= link_to pull.title, repo_pull_path({:repo => pull.repo.name, :id => pull.id}) %> 
    </h4>
    <% pull.labels.each do |label| %>
      <span class="color-label badge" title=<%=label.color%> ><%= label.name %></span>
    <% end %>
    <br>
    by <%= link_to pull.user.login, user_path(pull.user) %>
    <% if pull.merged == '1'%>
      <%= "merged #{time_ago_in_words(pull.merged_at)} ago "%>
    <% elsif pull.state == 'closed' %>
      <%= "closed #{time_ago_in_words(pull.closed_at)} ago "%>
    <% else %> 
      <%= "opened #{time_ago_in_words(pull.created_at)} ago "%>
    <% end %>
  </div>

  <div class="col-lg-2 col-md-2 col-sm-2" >
    <div class="pull-right">
      <%= pull.number %> 
      <a class="subtle" href=<%= pull.html_url %> > 
        <span class="octicon octicon-mark-github"></span>
      </a>
      </span>
    </div>
  </div>
</div>
