<div class="row single-pull">
  <div class="user-image-small col-lg-1 col-md-1 col-sm-1 col-xs-2" >
    <img src= <%= qa_signoff.user.avatar_url%> alt= <%= qa_signoff.user.login %> >
  </div>

  <!-- Show the repo name and the specific qa_signoff request name and who made it when -->
  <div class="pull-info col-lg-9 col-md-9 col-sm-9 col-xs-8">
    <h4> 
      <%= link_to qa_signoff.repo.name, repo_path(qa_signoff.repo.name) %> /
      <%= link_to qa_signoff.pull_request.title, qa_signoff.pull_request.html_url, :target => '_blank' %>
    </h4>
    by <%= link_to qa_signoff.user.login, user_path(qa_signoff.user) %>
    <% if qa_signoff.pull_request.merged == '1'%>
      <%= "merged #{time_ago_in_words(qa_signoff.pull_request.merged_at)} ago "%>
    <% elsif qa_signoff.pull_request.state == 'closed' %>
      <%= "closed #{time_ago_in_words(qa_signoff.pull_request.closed_at)} ago "%>
    <% else %> 
      <%= "opened #{time_ago_in_words(qa_signoff.pull_request.created_at)} ago "%>
    <% end %>
  </div>

  <!-- Show the pull request number and a link to the github PR -->
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
    <div class="pull-right">
      <%= qa_signoff.pull_request.number %>
      <span class="octicon octicon-mark-github"></span>
      </span>
    </div>
  </div>
</div>
