<div class="row single-team">

  <!-- Show the avatar of the githuber user and the user's username -->
  <div class="user-info col-lg-3 col-md-3 col-sm-3">
    <h4> 
      <%= team.name%>
    </h4>
    <br>
    <h4>
      <a class="subtle" href=<%= user.html_url %> > 
        <span class="octicon octicon-mark-github"></span>
        <span class="octicon octicon-logo-github"></span> 
      </a>
    </h4>
  </div>

  <!-- Show the basic stats for this user for this user -->
  <!-- <div class="col-lg-2 col-md-2 col-sm-2">
    <div class="text-center">
      <span class="text-large"><%= user.deploy_count %></span>
      <span class="mega-octicon octicon-rocket"></span>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <div class="text-center">
      <span class="text-large"><%= user.pull_request_count %></span>
      <span class="mega-octicon octicon-git-pull-request"></span>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <div class="text-center">
      <span class="text-large"><%= user.comment_count %></span>
      <span class="mega-octicon octicon-comment"></span>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <div class="text-center">
      <span class="text-large"><%= user.additions - user.deletions %></span>
    </div>
  </div> -->
</div>
