<div class="row single-user">

  <!-- Show the avatar of the githuber user and the user's username with a link to their github page -->
  <div class="user-image col-lg-1 col-md-1 col-sm-1" >
    <img src= <%= user.avatar_url%> alt= <%= user.login %> >
  </div>
  <div class="user-info col-lg-2 col-md-2 col-sm-2">
    <h4> 
      <%= link_to user.login, user_path(user) %>
    </h4>
    updated <%= distance_of_time_in_words(DateTime.now,user.updated_at) %> ago
    <br>
    <h4>
      <a class="subtle" href=<%= user.html_url %> > 
        <span class="octicon octicon-mark-github"></span>
        <span class="octicon octicon-logo-github"></span> 
      </a>
    </h4>
  </div>

  <!--<div class="col-lg-1 col-md-1 col-sm-1" ></div> <!-- Empty column just to make space -->

  <!-- Show the basic stats for this user for this user -->
  <div class="col-lg-1 col-md-1 col-sm-1">
    <div class="text-center">
      <span class="text-large"><%= user.pull_request_count %></span>
      <span class="mega-octicon octicon-git-pull-request"></span>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <div class="text-center">
      <span class="text-large"><%= user.comment_count %></span>
      <span class="mega-octicon octicon-comment"></span>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <div class="text-center">
      <span class="text-large"><%= user.qa_signoff_count %></span>
      <span class="mega-octicon octicon-checklist"></span>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2" >
    <div class="text-center">
      <span class="text-large"><%= user.qa_signoff_count %></span>
    </div>
  </div> 
  <div class="col-lg-2 col-md-2 col-sm-2">
    <div class="text-center">
      <span class="text-large"><%= user.additions - user.deletions %></span>
    </div>
  </div>
</div>
