<div class="container" id="deploy">
  <div class="row">

    <!-- Title with the repo name and git revision sha -->
    <h1 class="title text-center">
      <%= link_to @deploy.repo.name.titleize, repo_path(@deploy.repo.name) %> /
      <%= @deploy.git_revision.titleize %>
    </h1>

    <!-- Show the date/time that the deploy was deployed -->
    <h4 class="text-center">
      Deployed at: <%= @deploy.deployed_at %>
    </h4>

    <!--Show the number of pull requests, comments, and net additions-->
    <%= render "hubstats/partials/quick_stats_one" %>
  </div>

  <!--Show all of the pull requests in a "condensed" view -->
  <div class="col col-lg-8 col-lg-offset-2">
    <div class="row">
      <h4> Merged Pull Requests </h4>
      <%= render 'hubstats/tables/pulls-condensed' %>
      <% if @pull_request_count > 20 %>
        <p class="pull-right"><%= link_to "View All", pulls_path(:deploys => @deploy.id) %></p>
      <% end %>
    </div>
  </div>
</div>
