<div class="container" id="user">
  <div class="row">

    <!-- Title with the user's GitHub username -->
    <h1 class="title text-center"><a href=<%=@user.html_url%>> <%= @user.login %></a> </h1>

    <!-- Show what team(s) the user is on -->
    <h4 class="text-center">
      <% if @user.team %>
        Assigned Team: <%= @user.team.name %>
      <% else %>
        No Assigned Team
      <% end %>
    </h4>

    <!-- Show all of the stats about the user -->

    <%= render 'hubstats/partials/quick_stats_one' %>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render 'hubstats/partials/quick_stats_two' %>
  </div>

  <div class="row">

    <!-- Show all of this user's merged pull requests in a "condensed" view -->
    <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
      <h3> Merged Pull Requests</h3> 
      <%= render 'hubstats/tables/pulls_condensed' %>
      <% if @pull_count > 20 %>
        <p class="pull-right"><%= link_to "View All", pulls_path(:users => @user.id) %></p>
      <% end %>
    </div>

    <!-- Show all of this user's deploys in a "condensed" view -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3> Deployments </h3>
      <%= render 'hubstats/tables/deploys_condensed' %>
      <% if @deploy_count > 20 %>
        <p class="pull-right"><%= link_to "View All", deploys_path(:users => @user.id) %></p>
      <% end %>
    </div>

    <!-- Show all of this user's QA Signoffs in a "condensed" view -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3> QA Signoffs </h3>
      <%= render 'hubstats/tables/qa_signoffs_condensed' %>
      <% if @qa_signoff_count > 20 %>
        <p class="pull-right">Hubstats is currently not set up to View All QA signoffs</p>
      <% end %>
    </div>
  </div>
</div>
