<div class="container" id="repo">
  <div class="row">
    <h1 class="title text-center"><a href=<%=@user.html_url%>> <%= @user.login %></a> </h1>
    <%= render 'hubstats/metrics/quick_stats' %>
  </div>
  <div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3> Pull Requests</h3> 
      <% if @pull_requests.length > 0 %>
        <div class="comments">
          <%= render partial: 'hubstats/partials/pull-condensed', collection: @pull_requests, as: :pull %>
        </div>
      <% else %>     
       <p> No pull requests to show </p>
      <% end %>
    </div>

    <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6">
      <h3> Comments </h3>
      <% if @comments.length > 0 %>
        <div class="comments">
          <%= render partial: 'hubstats/partials/comment-condensed', collection: @comments, as: :comment %>
        </div>
      <% else %>
        <p> No comments to show </p>
      <% end %>
    </div>
  </div>
</div>