<div class="container" id="repo">
  <div class="row">
    <h1 class="title text-center"><a href=<%=@user.html_url%>> <%= @user.login %></a> </h1>
    <%= render 'hubstats/partials/quick_stats' %>
  </div>
  <div class="row">

    <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
      <h3> Pull Requests</h3> 
      <%= render "hubstats/tables/pulls-condensed" %>
      <% if @pull_count > 20 %>
        <p class="pull-right"><%= link_to "View All", pulls_path(:users => @user.id) %></p>
      <% end %>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3> Comments </h3>
      <%= render "hubstats/tables/comments-condensed" %>
    </div>
  </div>
</div>
